.song-container {
  min-height: 60vh;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 1rem;
    padding-top: 3rem;
    font-family: "Fredoka One", cursive;
    font-weight: 600;
  }
  h3 {
    font-size: 1rem;
    color: rgb(113, 133, 139);
    font-family: "Hammersmith One", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 70%;
  }
}
