* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Yusei+Magic&display=swap");

@import "./song";
@import "./player";
@import "./library";
// @import "./ripple";

// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Yusei Magic', sans-serif;
